/* .object-textarea {
  transform: translate(2rem, -2.5rem);
} */

/* .object-textarea,
.object-textarea .container {
} */

.object-textarea .container {
  width: 20rem;
  height: 5rem;

  position: absolute;
  display: grid;
  align-items: center;
  grid-template-columns: auto max-content;
  gap: 1rem;

  transform: translate(2rem, -2.5rem);
}

.object-textarea .input {
  height: 5rem;
  padding: 0.5rem;

  resize: none;
  overflow: hidden;

  border: none;
  background: #00000011;
  font-size: 1.25rem;
  line-height: 2rem;
}

.object-textarea .input:is(:hover, :focus) {
  background: #00000022;
}

.object-textarea .input:focus {
  outline: none;
}

.object-textarea .container span {
  bottom: 0.25rem;
  right: 3.5rem;

  position: absolute;

  font-size: 0.75rem;
  font-family: "Rubik";
  font-weight: 300;
}

.object-textarea svg {
  width: 2rem;
  height: 2rem;
}

.object-textarea .enabled {
  width: 2rem;
  height: 2rem;

  cursor: pointer;
}

.object-textarea .enabled:not(:hover) {
  color: var(--line) !important;
}

.object-textarea .disabled {
  color: var(--line) !important;
}
